---
import BlogCard from "@/components/BlogCard.astro";
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import {getSinglePage} from "@/lib/contentParser.astro";
import {getTaxonomy} from "@/lib/taxonomyParser.astro";
import { sortByNumber } from "@/lib/utils/sortFunctions";
import taxonomyFilter from "@/lib/utils/taxonomyFilter";
import PageHeader from "@/partials/PageHeader.astro";
import BlogList from "../../layouts/components/BlogList.astro";
import Pagination from "../../layouts/components/Pagination.astro";


export async function getStaticPaths() {
  const categories = await getTaxonomy(
    config.settings.blog_folder,
    "categories"
  );

  return categories.map((category) => {
    return {
      params: {category},
    };
  });
}

const {blog_folder} = config.settings;
const {category} = Astro.params;
const posts = await getSinglePage(config.settings.blog_folder);
const filterByCategories = taxonomyFilter(posts, "categories", category!);
const sortedPosts = sortByNumber(filterByCategories);
---

<Base title={category}>
  <PageHeader title={category} isShowBreadcrumbs={"no"}/>
  <div class="section">
    <div class="container">
      <div class="row gx-5">
        <div class="row">
          <BlogList currentPosts={sortedPosts}/>
        </div>
      </div>
    </div>
  </div>
</Base>
